{% extends 'home.html' %}
{% block content %}
{% load static %}

<!-- Content Wrapper. Contains page content -->

<div class="content">
    <div class="container-center">
        <h2 class="text-center display-4">Buscar Cliente</h2>
        <form method="GET" action="{% url 'buscarCliente' %}">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-label" for="tipoIdentificacion">Identificación</label>
                                <select name="tipoIdentificacion" id="tipoIdentificacion" class="form-control"
                                    style="width: 100%;">
                                    <option value="TODOS">TODOS</option>
                                    <option value="CEDULA">CI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="PASAPORTE">PASAPORTE</option>
                                    <option value="IDENTIFICACION DEL EXTERIOR">IDENTIFICACION DEL EXTERIOR</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="identificacion">Número de Identificación </label>
                        <div class="input-group input-group-lg">
                            <input type="search" class="form-control form-control-lg"
                                placeholder="Type your keywords here" id="identificacion" name="identificacion">

                            <div class="input-group-append">

                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
{% if messages %}
<div class="row">
    <div class="col-sm-4">
        {% for message in messages %}
        <p class="alert alert-success"> {{ message }} </p>
        {% endfor %}
    </div>
</div>
{% endif %}


<div class="container">
    <div class="abs-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Clientes</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Apellidos y Nombres/Razón Social</th>
                                <th>Tipo de identificación</th>
                                <th>Número de Identificación</th>
                                <th>Tipo Cliente</th>
                                <th style="width: 40px">Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in clientes %}
                            <tr>
                                <td>{{ data.razonSocial }}</td>
                                <td>{{ data.tipoIdentificacion }}</td>
                                <td>{{ data.identificacion }}</td>
                                <td>{{ data.tipoCliente }}</td>
                                <td>
                                    <!-- Button ir a modificar -->
                                    <a href="{% url 'modificarCliente' id=data.id %}"
                                        class="btn btn-info btn-sm">Modificar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>

                    {% if message %}
                    <h1>{{ message }}</h1>

                    {% endif %}
                </div>

            </div>

        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-5">

        {% if clientes.has_previous %}
        <div class="clearfix">
            <a href="?page={{ clientes.previous_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}"
                class="btn btn-primary float-left">Anterior</a>
        </div>
        {% endif %}

    </div>
    <div class="col-md-3">
        <nav class="pagination is-centered">
            <ul class="pagination-list">
                <span class="pagination-link">
                    Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}
                </span>


            </ul>
        </nav>
    </div>
    <div class="col-md-4">
        {% if clientes.has_next %}
        <div class="clearfix">
            <a href="?page={{ clientes.next_page_number }}{% if parametros.urlencode %}&{{ parametros.urlencode }}{% endif %}"
                class="btn btn-primary float-right">Siguiente </a>
                
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}