{% extends 'home.html' %}
{% block content %}
{% load static %}


<!-- Datos del Emisor -->
<div class="container">
    <div class="container">
        <h1 style="text-align: center">Facturación</h1>
        <div class="abs-center">
            <div class="row">
                <div class="col-md-12">

                    <div class="card card-defa">

                        <div class="card-header">
                            <h3 class="card-title">Datos del Emisor</h3>
                        </div>
                        <div class="card-body">

                            <!-- RUC -->
                            <div class="row">
                                <div class="col">
                                    <h6><b>RUC:</b></h6>
                                </div>
                                <div class="col">
                                    <input type="text" id="ruc" class="form-control" value="{{ emisor.ruc }}" readonly>
                                </div>
                            </div>

                            <!-- Tipo de identificacion-->
                            <div class="form-group">
                                <label for="nombreComercial">Nombre Comercial </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="nombreComercial"
                                        value="{{ emisor.nombreComercial }}" readonly>
                                </div>
                            </div>


                            <!-- Razon social -->
                            <div class="form-group">
                                <label for="razonSocial">Apellidos y Nombres / Razón Social </label>
                                <div class="input-group mb-3">
                                    <input type="text" id="razonSocial" class="form-control"
                                        value="{{ emisor.razonSocial }}" readonly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">
                                    <!-- Tipo Cliente -->
                                    <div class="form-group">
                                        <label for="contribuyenteEspecial">Contribuyente Especial </label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="contribuyenteEspecial" class="form-control"
                                                value="{{ emisor.contribuyenteEspecial }}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg-4">
                                    <!-- Obligado a LLevar Contabilidad -->
                                    <div class="form-group">
                                        <label for="obligadoContabilidad">Obligado a LLevar Contabilidad</label>
                                        <div class="input-group mb-3">
                                            <input type="text" id="obligadoContabilidad" class="form-control"
                                                value="{{ emisor.obligadoContabilidad }}" readonly>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Dirección Matriz -->
                            <div class="form-group">
                                <label for="direccionMatriz">Dirección Matriz</label>
                                <div class="input-group">
                                    <input type="text" id="direccionMatriz" class="form-control"
                                        value="{{ emisor.dirMatriz }}" readonly>
                                </div>
                            </div>


                            <!-- Dirección Estableciemitno -->
                            <div class="form-group">
                                <label for="direccionEstablecimiento">Dirección Estableciemitno</label>
                                <div class="input-group">
                                    <input type="text" id="direccionEstablecimiento" class="form-control"
                                        value="{{ emisor.dirEstablecimiento }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <!-- Identificación del Comprobante -->
    <div class="container">
        <div class="abs-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="abs-center">

                            <div class="card card-info">

                                <div class="card-header">
                                    <h3 class="card-title">Identificación del Comprobante</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <label for="numeroFactura">Nro. </label>
                                            <input type="text" id="numeroFactura" class="form-control"
                                                value="{{ emisor.codDoc }} - {{ emisor.tipoDoc }} - {{ emisor.id }} "
                                                readonly>
                                        </div>
                                        <div class="col">
                                            <label for="claveAcceso">Clave de Acceso</label>
                                            <input type="text" class="form-control" id="claveAcceso"
                                                value="{{ emisor.claveAcc }}" readonly>
                                        </div>
                                    </div>
                                    <label for="fecha">Fecha de Emisión</label>
                                    <input type="date" class="form-control" class="form-control" id="fecha">
                                    <br>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Datos del Comprador-->
    <div class="card">
        <div class="content">
            <div class="container-center">
                <h6 class="text-center display-4">Datos del Comprador</h6>

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label" for="tipoIdentificacion">Identificación</label>
                                    <select name="tipoIdentificacion" class="form-control" id="tipoIdentificacion">
                                        <option value="05">Cedula</option>
                                        <option value="06">Pasaporte</option>
                                        <option value="07">Consumidor Final</option>
                                        <option value="08">ID Exterior</option>
                                        <option value="09">Placa</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <form method="GET" action="{% url 'busquedaCliente' %}" id="formBuscarCliente">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">

                                    <div class="form-group">
                                        <label class="form-label" for="identificacion">Número de Identificación
                                        </label>
                                        <div class="input-group input-group-lg">
                                            <input type="search" class="form-control form-control-lg"
                                                placeholder="Escriba Número de Identificación" id="identificacion"
                                                name="identificacion">
                                            <div class="input-group-append">
                                                <!-- Buscar Client button -->
                                                <button type="submit" class="btn btn-lg btn-default">
                                                    <i class="fa fa-search"></i>

                                                </button>
                                                <!-- Create Client button -->
                                                <button type="button" name="button" id="create-cliente"
                                                    class="btn btn-lg btn-default btnAddCliente"><i
                                                        class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                        </form>

                        <label for="razonSocial">Razon Social</label>
                        <input type="text" id="razonSocial" name="razonSocial" class="form-control">
                        <br>

                        <label for="direccion">Dirección</label>
                        <div class="input-group input-group-lg">
                            <input type="text" id="direccion" name="direccion" class="form-control">
                            <button type="submit" id="modificar-cliente" rel="edit"
                                class="btn btn-lg btn-default btnModificarCliente"><i class="fa fa-plus"></i></button>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>
</div>





<!-- Detalle de la Factura -->
<div class="container">
    <div class="abs-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Detalle de la Factura</h3>
                    <!-- Create Detalle Factura button -->
                    <button type="button" class="btn float-right btnAddDetalle" id="create-detalle"><i
                            class="fa fa-plus"></i></button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="detalleFactura">
                        <thead>
                            <tr>
                                <th style="width: 40px">Cantidad</th>
                                <th style="width: 40px">Código Principal</th>
                                <th style="width: 40px">Código Auxiliar</th>
                                <th>Descripción</th>
                                <th>Precio Unitario</th>
                                <th>Descuento</th>
                                <th>Impuesto</th>
                                <th>Valor Total</th>
                                <th style="width: 40px">Acción</th>
                            </tr>

                        </thead>
                        <tbody id=bodydetalleFactura>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <!-- Forma de Pago -->
        <div class="container">
            <div class="abs-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Forma de Pago</h3>
                            <!-- Create Forma de Pago button -->
                            <button type="button" class="btn float-right btnAddFormaPago" id="create-pago"><i
                                    class="fa fa-plus"></i></button>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered" id="formaPago-table">
                                <thead>
                                    <tr>
                                        <th style="width: 40px">Codigo</th>
                                        <th>Descripción</th>
                                        <th>Total</th>
                                        <th>Plazo</th>
                                        <th>Unidad de Tiempo</th>
                                        <th style="width: 40px">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Campo Adicional -->
        <div class="container">
            <div class="abs-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Campo Adicional</h3>
                            <!-- Create Forma de Pago button -->
                            <button type="button" onclick="agregarFila()" class="btn float-right btnAddCampoAdicional"
                                id="create-campoAdicional"><i class="fa fa-plus"></i></button>
                        </div>

                        <!-- 
<form method="GET" target="print_popup" action="{% url 'campoAdicional' %}"
                        onsubmit="window.open('about:blank','print_popup','width=1000,height=800');">

                        <input class="btn btn-info" type="submit" data-toggle="modal" data-target="#myModalDetalle"
                            value=" Agregar Detalle">

                    </form>
                 -->
                        <div class="card-body">
                            <table class="table table-bordered" id="campoAdicional-table">
                                <thead id="cabezaTabla">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th style="width: 40px">Acción</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoTabla">


                                </tbody>

                            </table>

                        </div>

                    </div>
                    <!-- /.card -->
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 22rem;">
            <div class="card-body">

                <div class="row">
                    <label for="subTotalSinImpuesto" class="col-sm-8">Subtotal sin Impuestos: </label>
                    <div class="col-sm-4">
                        <input type="number" readonly class="form-control" id="subTotalSinImpuesto" value="0.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">Subtotal 12.0: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">Subtotal 0%: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">SUBTOTAL NO OBJETO DE IVA: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">SUBTOTAL NO EXENTO DE IVA: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">TOTAL DESCUENTO: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">VALOR ICE: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">SUBTOTAL NO OBJETO DE IVA: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">IVA 12.0: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">VALOR IRBPNR: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">PROPINA 10%: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>
                <div class="row">
                    <label for="staticEmail" class="col-sm-8">VALOR TOTAL: </label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control" id="staticEmail" value="10000.00">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Botones para guardar Factura -->
<input type="submit" class="btn btn-info" value="Guardar">
<input type="submit" class="btn btn-default" value="Cancelar">
<br>
<br>






{% endblock %}


{% block extrajs %}
<!-- Modal Cliente Crear-->
<form method="POST" action="{% url 'crearClienteModal' %}" id="formCrearCliente">{% csrf_token %}
    <div class="modal fade" id="crearCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="action" type="hidden" value="addCliente">
                    {% for field in form %}
                    <div class="form-group{% if field.errors %} invalid{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Modal Cliente Modificar-->
<form method="POST" action="#" id="formModificarCliente">{% csrf_token %}
    <div class="modal fade" id="modificarCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for field in form %}
                    <div class="form-group{% if field.errors %} invalid{% endif %}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal Agregar Forma de pago -->
<form method="POST" action="{% url 'formaPago' %}" id="formCrearPago"> {% csrf_token %}
    <div class="modal fade" id="crearPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Forma de pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    {{ formulario.formaPago }}
                    <br>

                    <label for="total">Total</label>
                    {{ formulario.total }}
                    <br>

                    <label for="plazo">Plazo</label>
                    {{ formulario.plazo }}
                    <br>

                    <label for="unidadTiempo">Unidad de Tiempo</label>
                    {{ formulario.unidadTiempo }}
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal Agregar Detalle -->
<div class="modal fade" id="addDetalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="GET" action="{% url 'busquedaProductoModal' %}" id="formAddDetalle">
                    <div class="form-group">
                        <label class="form-label" for="identificacion">Código
                        </label>
                        <div class="input-group input-group-lg">
                            <input type="search" class="form-control form-control-lg"
                                placeholder="Escriba Código Producto" id="codProducto" name="codProducto">
                            <div class="input-group-append">
                                <!-- Buscar Client button -->
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>

                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered" id="producto">
                    <thead>
                        <tr>
                            <th style="width: 40px">Codigo Principal</th>
                            <th>Codigo Auxiliar</th>
                            <th>Descripción</th>
                            <th>Precio Unitario</th>
                            <th style="width: 40px">Acción</th>
                        </tr>
                    </thead>
                    <tbody id="producto-tbody">
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}